.mapOverlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 99;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(6, 107, 53, 0) 40.27%, #066B35 90%), rgba(6, 107, 53, 1);
  background-color: rgba(6, 107, 53, 0.8);
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 60px;
}
