.doneCard {
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  top: -60px;
  background: #fff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.doneImage {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: auto;
  border-radius: 5px;
}
.doneDescription {
  width: 100%;
  color: $mainColor;
  padding-bottom: 40px;
}
.imageHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.address {
  width: 100%;
  color: $secondaryGrey;
  font-size: 14px;
}
.description {
  color: $black;
  font-size: 17px;
}
.button {
  align-self: center;
  max-width: 300px;
  padding: 10px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  background: $mainColor;
  color: $secondColor;
  margin: 0 auto;
}
.button:hover {
  color: $secondColor;
}
