.donePage {
  padding: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $mainColor;
  z-index: 1001;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.text {
  padding: 12px;
  font-size: 26px;
  line-height: 27px;
  color: $secondColor;
}
