.searchBar {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  width: calc(100% - 30px);
  margin: 0 15px;
}
.bottomBar {
  justify-content: center;
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  height: 70px;
  padding: 5px 10px;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.currentLocationButton {
  appearance: none;
  background-image: url('./current-location.svg');
  background-size: 20px;
  background-color: $mainColor;
  background-position: 19px;
  border: none;
  border-radius: 31px;
  margin: 10px;
  background-repeat: no-repeat;
  z-index: 98;
  bottom: 70px;
  right: 0;
  position: absolute;
  width: 62px;
  height: 62px;
  bottom: 70px;
}
.map {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
}
.boxStyle {
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.header {
  background-olor: white;
  zIndex: 100;
}
.markerStyle {
  position: fixed;
  z-index: 98;
  top: calc(50% - 30px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px
}
.titleHolder {
  position: absolute;
  top: 0;
  background: $mainColor;
  width: 100%;
  z-index: 1002;
  padding: 0 12px 30px;
  transition: transform ease-out 0.3s;
  transform: translateY(0px);
}
