.bottomBarOuter {
  transition: transform 0.3s ease-out;
  background-color: $mainColor;
  display: flex;
  aling-item: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}
.bottomBarInner {
  margin: 0 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
.error {
  transition: transform 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $errorColor;
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
}
