.bottomBarOuter {
  transition: transform 0.3s ease-out;
  background-color: $secondColor;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.bottomBarInner {
  background-color: $secondColor;
  box-sizing: border-box;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 100;
}
.bottomBarInner a {
  width: 100%;
  max-width: $contentMaxWidth;
}
.error {
  transition: transform 0.3s ease-out;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $errorColor;
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
}
