.extraText {
  width: 100%;
  max-width: $contentMaxWidth;
  padding: 0 24px;
  position: absolute;
  bottom: 60px;
  font-weight: normal;
  color: $thirdGray;
  font-size: 18px;
  text-align: left;
}

@media screen and (min-width: $contentMaxWidth) {
  .extraText {
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-height: 400px) {
  .extraText {
    display: none;
  }
}
