.searchBar {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  z-index: 98
}
@media screen and (min-width: 640px) {
  .searchBar {
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
    margin: 0 15px;
    z-index: 98
  }
}
