.background {
  max-width: 600px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 20px;
  display: flex;
}
.imageHolder { }
.contentHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 25px;
}
.issue {
  color: $trackPageText;
  font-weight: bold;
  font-size: 15px;
}
.address {
  font-size: 14px;
  color: $secondaryGrey;
}
.description {
  color: $black;
  font-size: 17px;
}
@media screen and (min-width: 640px) {
  .background {
    margin: 0;
  }
}
