.label {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: $mainColor;
  margin-bottom: 5px;
}
.input:focus {
  outline:0;
}
.input {
  font-size: 16px;
  border: none;
  background: none;
  border-bottom: solid 1px $divider;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}
.error .input {
  border-bottom: solid 1px red;
}
