.actionWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.skipLink {
  display: block;
  padding: 10px 40px;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
.photosOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $mainColor;
  justify-content: space-between;
  padding: 12px;
  top: 0px;
  bottom: 0px;
  padding-bottom: 60px;
  z-index: 1000;
}
.uploadArea {
  min-height: 45px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: none;
  padding: 0;
  border: none;
  border-radius: 0px;
}

.uploadText {
  display: none;
}
.uploadTextMobile {
  color: $mainColor;
  font-weight: bold;
  display: block;
}
.uploadButton {
  display: none;
}
.dragger {
  width: 100%;
}

@media screen and (min-width: 900px) {
  p.uploadMobileButton {
    display: none;
  }
  .uploadText {
    display: block;
  }
  .uploadTextMobile {
    display: none;
  }
  .uploadArea {
    background-color: $secondColor;
    border: none;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    min-height: 230px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: $mainColor;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .uploadText {
    padding: 0 10px;
    color: white;
  }
  .uploadButton {
    display: block;
    margin: 0 0 30px 0;
  }
}
