.nextButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextButton:hover {
  color: $secondColor;
}
.nextButton:hover svg {
  transform: scale(1.05) translateX(1px);
}
.nextButton svg {
  transition: transform 300ms ease-out;
  height: 12px;
  margin-left: 5px;
}
.nextButton svg path {
  stroke: white;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
