.nextButton {
  font-weight: bold;
  border: solid 2px $mainColor;
  color: $mainColor;
  display: flex;
  font-size: 18px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.nextButton:hover {
  color: $secondColor;
}
.nextButton:hover svg {
  transform: scale(1.05) translateX(1px);
}
.nextButton.inverted {
  color: $secondColor;
  border: solid 2px $secondColor;
}
.nextButton svg {
  transition: transform 300ms ease-out;
  height: 12px;
  margin-left: 5px;
}
.nextButton svg path {
  stroke: white;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
