.nextButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextButton img {
  margin-left: 5px;
}
.nextButton svg {
  height: 12px;
  margin-left: 5px;
}
.nextButton svg path {
  stroke: white;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
