.photoItem {
  box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.18);
  margin: 0 2px 0 8px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 350px;
}
.photoItem.hideItem {
  display: none;
}
.photoItem img {
  height: 100%;
  width: auto;
}
.photoItemContent {
  position: absolute;
  width: 100%;
  height: 100%;
}
.uploading {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.remove {
  border: none;
  cursor: pointer;
  background-color: transparent;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 52px;
  height: 52px;
  display: none;
  justify-content: center;
  align-items: center;
}

.showRemove.remove {
  display: flex;
}
@media (hover: hover) {
  .photoItem:hover .remove {
    display: flex;
  }
  .noneRemoveable.photoItem:hover .remove {
    display: none;
  }
}
.remove:after {
  background-color: $mainColor;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.remove img {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
}
.overlay {
  width: 100%;
  background: red;
}
