.photosContent {
  min-width: 100%;
  max-width: $contentMaxWidth;
  white-space: nowrap;
}
.photosContentHolder {
  margin-top: 5px;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 15px;
}
.photoUploadButton {
  border: none;
  appearance: none;
  display: block;
  justify-content: center;
  align-items: center;
  background: #F8F8FA;
  width: 200px;
  height: 250px;
  margin: 0;
  cursor: pointer;
}
.photoUploadButton:hover {
  background: #e8e8eA;
}
.photoUploadButton svg {
  transition: ease-out 300ms transform;
  width: 25px;
  height: 25px;
}
.photoUploadButton svg path {
  fill: $mainColor;
  stroke: $mainColor;
}
.photoUploadButton:hover svg {
  transform: scale(1.4);
}

.infoText {
  text-align: center;
}
.touchCatcher {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.pageHeader {
  background-color: $mainColor;
  padding-bottom: 25px;
}
.smallUploadButton {
}
.smallUploadButton .ant-upload.ant-upload-select {
  background-color: red;
}
