.photosContent {
  display: flex;
  padding: 60px 10px 0;
  width: 100%;
  max-width: $contentMaxWidth;
}
.photosContentHolder {
  display: flex;
  justify-content: center;
}
.photoUploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F8FA;
  width: 100%;
  height: 100%;
  margin: 0;
}
.photoUploadButton img {
  width: 25px;
  height: 25px;
}
.infoText {
  text-align: center;
}
.touchCatcher {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
