.react-geocoder {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
}

.react-geocoder input {
  height: 36px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: none;
  font-size: 18px;
}
.react-geocoder-results {
  background-color: white;
  width: 500px;
  text-align: left;
  padding: 10px;
}

.react-geocoder-item {
  padding-bottom: 10px;
}
.react-geocoder-item:hover {
  background-color: rgb(228, 228, 228);
}

.mapboxgl-ctrl-geocoder .suggestions {
  padding-top: 5px;
  top: 100%;
  top: calc(100% - 5px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
  background-color: greenyellow;
  display: contents !important;
}
.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: 500px !important;
}
.mapboxgl-control-container {
  position: static !important;
  max-width: 500px;
  margin: 0 auto !important;
}
.mapboxgl-ctrl-top-right {
  position: static !important;
  display: flex !important;
  justify-content: center;
  margin: 20px 0 0 0 !important;
}
.searchbar {
  display: flex;
  justify-content: center;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

/* ------------------------------------------------- */

.blob {
  background: #199bff;
  border-radius: 50%;
  border: 5px solid white;
  height: 25px;
  width: 25px;
  margin-top: 8px;
  box-shadow: 0 0 0 0 rgb(118, 168, 243, 0);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(101, 165, 224, 0.7);
  }

  70% {
    transform: scale(0.8);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
