<?xml version='1.0' encoding='utf-8'?>
<widget id="se.malmociviclab.felanmalan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Felanmanlan_Malmo_Civic_Lab</name>
    <description>
        Possibility to report things that need to be fixed
    </description>
    <author email="time@malmo.se" href="http://malmo.se">
        Malmo Civic Lab
    </author>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>need location access to find things nearby</string>
    </edit-config>
    <plugin name="cordova-plugin-media-capture" source="npm" spec="1.4.1" >
        <variable name="CAMERA_USAGE_DESCRIPTION" value="We are using a camera to enable you to upload pictures of documents" />

        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="We are using your pohoto library to enable you to download and save pictures of documents" />
    </plugin>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
</widget>
