.screenTitleHolder {
  padding-top: 33px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  margin: 0 auto;
  max-width: 560px;
}
.screenTitle {
  font-family: 'MyriadPro', Verdana;
  font-weight: lighter;
  max-width: 19rem;
  margin-bottom: 0px;
  letter-spacing: 0.2px;
  text-align: left;
  color: $secondColor;
  font-size: 34px;
  line-height: 39px;
}
@media screen and (min-width: $contentMaxWidth) {
  .screenTitleHolder {
    padding-top: 90px;
    padding-left: 0;
  }
  .screenTitle {
    max-width: 40rem;
    font-size: 64px;
    line-height: 64px;
  }
}
