.screenTitleHolder {
  max-width: 600px;
}
.screenTitle {
  max-width: 20rem;
  font-weight: lighter;
  letter-spacing: 0.2px;
  text-align: left;
  color: $secondColor;
  font-size: 43px;
  line-height: 50px;
  padding-top: 100px;
}
@media screen and (min-width: 640px) {
  .screenTitle {
    max-width: 40rem;
    font-size: 80px;
    line-height: 80px;
  }
}
